.box {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 15px -2px #000000;
  box-shadow: 0px 0px 15px -2px #000000;
}

.red-square {
  background-color: #ff6663;
  width: 100px;
  height: 100px;
}

.text-bold {
  font-weight: bold;
  margin: 0;
  padding: 4px;
}
